
@if (Job != null)
{
    <div class="card" style="width:70%">
      <div class="card-body">
        
          <div class="card-title d-flex">
               <h5 class="card-title">
                    <a 
                        href="@Job.Uri.ToString()"
                        title="@Job.Uri.ToString()">
                        @Job.Title
                    </a>
                    <button class="btn btn-info btn-sm" @onclick="CopyUrl">Copy Url</button>
            
                    @if(Job.SalaryMax.HasValue && Job.SalaryMin.HasValue)
                    {
                        <span>@Job.SalaryMinAsAnnual.ToShortMoney()</span>
                        <span>-</span>
                            <span>@Job.SalaryMaxAsAnnual.ToShortMoney()</span>
                    }
                    else if(Job.SalaryMin.HasValue)
                    {                    
                        <span>@Job.SalaryMinAsAnnual.ToShortMoney()</span>
                        <span>+</span>
                    }
                    else if(Job.SalaryMax.HasValue)
                    {                    
                        <span>@Job.SalaryMaxAsAnnual.ToShortMoney()</span>
                    }
                </h5>
                
                <div  class="ms-auto me-2 align-middle">
                    <span class="badge bg-info">@JobResult.Site.Name</span>
                </div>
                
          </div>
       
        <h4>@Job.Company</h4>  
        
            <p class="card-text">
                @foreach(var badge in GetBadges())
                {
                    <ColorCodedBadge IsMatch="@badge.IsMatch" Text="@badge.Text" Neutral="@badge.NotPartOfFilter" />
                }
            </p>

            <ul>
                @foreach(var line in JobResult.KeywordLines)
                {
                    <li>@line</li>
                }
            </ul>

      </div>
    </div>
}